* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #79859e; */
  /* color: white; */
}

.img-meal {
  clip-path: circle(50% at 50% 50%);  
}

/* .content-meal {
  border: 2px solid red;
}
.content-meal-style {
  border: 2px solid blue;
} */

.content-meal::before {
  content: "";
  background-color: #E9AC2E;
  clip-path: circle(50% at 50% 50%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95%;
}

.content-meal::after {
  content: "";
  background-color: #E9AC2E;
  border-radius: 0 0 0 10px;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.icon-search, .icon-cart {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  stroke-width: 0;
}
.icon-search {
  stroke: #FBECCC;
  fill: #FBECCC;
}

.custom-shape-divider-top-1606414459 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1606414459 svg {
  position: relative;
  display: block;
  width: calc(191% + 1.3px);
  height: 371px;
}

.custom-shape-divider-top-1606414459 .shape-fill {
  fill: #E9AC2E;
}

.style-cart {
  /* border: 3px solid red; */
  border-bottom: 2px solid #E9AC2E;
  width: 100%;
  height: 30vh;
}

.style-cart .content-meal {
  flex-direction: row;
}
.style-cart .content-meal .img-meal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.style-cart .content-meal .img-meal {
  height: 100%;
  /* padding: 1.2rem; */
}

.style-cart .content-meal .content-price-qty {
  width: 100%;
}

.style-cart .content-meal::before, .style-cart .content-meal::after {
  display: none;
}